@font-face {
  font-family: 'LondrinaSolid-Black';
  src: url('../asset/fonts/LondrinaSolid-Black.ttf');
}

@font-face {
  font-family: 'LondrinaSolid-Light';
  src: url('../asset/fonts/LondrinaSolid-Light.ttf');
}

@font-face {
  font-family: 'LondrinaSolid-Regular';
  src: url('../asset/fonts/LondrinaSolid-Regular.ttf');
}

@font-face {
  font-family: 'LondrinaSolid-Thin';
  src: url('../asset/fonts/LondrinaSolid-Thin.ttf');
}

@font-face {
  font-family: 'WorkSans-Regular';
  src: url('../asset/fonts/WorkSans-Regular.ttf');
}

@font-face {
  font-family: 'WorkSans-SemiBold';
  src: url('../asset/fonts/WorkSans-SemiBold.ttf');
}


html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}